# ------------------------------
# OS / System
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.ipynb_checkpoints/

# Virtual environments
venv/
env/
ENV/

# ------------------------------
# Jupyter
# ------------------------------
.ipynb_checkpoints

# ------------------------------
# Data files (raw + processed)
# ------------------------------
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# ------------------------------
# Power BI
# ------------------------------
*.pbix

# ------------------------------
# Exports
# ------------------------------
exports/*
!exports/.gitkeep

# ------------------------------
# Logs / temp
# ------------------------------
*.log
*.tmp

# ------------------------------
# IDEs
# ------------------------------
.vscode/
.idea/